<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net40" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net40" />
  <package id="FluentAutomation.Core" version="2.0.0.2" targetFramework="net40" />
  <package id="FluentAutomation.WatiN" version="2.0.0.2" targetFramework="net40" />
  <package id="mbunit" version="3.3.454.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="Selenium.RC" version="2.28.0" targetFramework="net40" />
  <package id="Selenium.RC" version="2.31.2" targetFramework="net40" />
  <package id="Selenium.Support" version="2.28.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.28.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.32.1" targetFramework="net40" />
  <package id="Selenium.WebDriverBackedSelenium" version="2.31.2" targetFramework="net40" />
  <package id="selenium-dotnet-dropin" version="1.0.1" targetFramework="net40" />
  <package id="SeleniumWebDriverExtensions" version="1.0.2" targetFramework="net40" />
  <package id="TestStack.Seleno" version="0.3.2" targetFramework="net40" />
  <package id="WatiN" version="2.1.0" targetFramework="net40" />
</packages>