<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="SIX.EP2.Client" version="1.1.2.11" targetFramework="net45" />
  <package id="SIX.EP2.COI.Client" version="1.0.4934.110" targetFramework="net45" />
  <package id="SIX.EP2.COI.Messages" version="1.0.4940.120" targetFramework="net45" />
  <package id="SIX.EP2.Core" version="1.1.2.11" targetFramework="net45" />
</packages>
